@using Hyperledger.Aries.Features.IssueCredential
@using Hyperledger.Aries.Models.Records
@model SchemaDetailViewModel

<a class="btn btn-primary mt-3" role="button" asp-controller="Schema">Edit Schema</a>
<a class="btn btn-primary mt-3" role="button" asp-controller="Schema" asp-action="SendCredDef" asp-route-id="@Model.Schema.Id">Create associated credential definition</a>

<table class="col mt-2">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Attributes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Schema.Name
            </td>
            @foreach (var attr in Model.Schema.AttributeNames)
            {
                <td>
                    @attr
                </td>
            }

        </tr>
    </tbody>
</table>
@if(Model.AssociateCredDefinition.Any())
{
    <table class="col mt-3">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Number of credentials</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AssociateCredDefinition)
            {
                @if (@item.SchemaId.Equals(Model.Schema.Id))
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.CreatedAtUtc.Value.ToLocalTime()
                        </td>
                        <td>
                            @item.MaxCredentialCount
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}