@model SchemaDetailViewModel
@{ 
    int i = 0;
}
<a class="btn btn-primary mt-3" role="button" asp-controller="Schema">Edit Schema</a>
<a class="btn btn-primary mt-3" role="button" asp-controller="Schema" asp-action="SendCredDefToLedger" asp-route-id="@Model.Schema.Id">Create associated credential definition</a>

<table class="table-borderless" cellpadding="10">
    <thead>
        <tr>
            <th scope="col">Schema Id</th>
            <th scope="col">Attributes key</th>
        </tr>
    </thead>
    <tbody >
        @foreach (var attr in Model.Schema.AttributeNames)
        {
            <tr >
                @if (i == 0)
                {
                    <td>
                        @Model.Schema.Id
                    </td>
                    i++;
                }
                else
                {
                    <td></td>
                }
                <td>
                    @attr
                </td>
            </tr>
        }
        </tbody>
</table>
@if(Model.AssociateCredDefinition.Any())
{
    <table class="col mt-3">
        <thead>
            <tr>
                <th scope="col">Credential definition Id</th>
                <th scope="col">Date</th>
                <th scope="col">Number of credentials emitted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AssociateCredDefinition)
            {
                @if (@item.SchemaId.Equals(Model.Schema.Id))
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.CreatedAtUtc.Value.ToLocalTime()
                        </td>
                        <td>
                            @item.MaxCredentialCount
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}