@using System
@model OfferViewModel

@{
    string guid = Guid.NewGuid().ToString("N");
}

@using (Html.BeginForm("SendOfferCredential", "Credentials", new { schemaId = Model.Schema.Id, connectionId = Model.ConnectionId}, FormMethod.Post))
{
    foreach (var attr in Model.Schema.AttributeNames)
    {
        if (Model.Schema.Name.Contains("passeport") || Model.Schema.Name.Contains("passport"))
        {
            switch (attr)
            {
                case "type":
                    <div>
                        <label for="@attr" class="col-sm-2 control-label">@attr</label>
                        <input name="@attr" type="text" value="passport" />
                    </div>;
                    break;

                case "passportNumber":
                    <div>
                        <label for="@attr" class="col-sm-2 control-label">@attr</label>
                        <input name="@attr" type="text" value=@guid />
                    </div>;
                    break;

                case "issuerCountryCode":
                    <div>
                        <label for="@attr" class="col-sm-2 control-label">@attr</label>
                        <input name="@attr" type="text" value="CH" />
                    </div>;
                    break;

                case "citizenship":
                    <div>
                        <label for="@attr" class="col-sm-2 control-label">@attr</label>
                        <input name="@attr" type="text" value="CH" />
                    </div>;
                    break;

                default:
                    <div>
                        <label for="@attr" class="col-sm-2 control-label">@attr</label>
                        <input name="@attr" type="text" />
                    </div>
                    break;
            }
        }
    }
    <button class="btn btn-outline-primary" type="submit">Submit</button>
}