@using System.Linq;
@using Hyperledger.Aries.Features.IssueCredential;
@model CredentialViewModel

@{
    int i = 0;
}

<table class="table-borderless" cellpadding="10">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Created at</th>
            <th scope="col">State</th>
            <th scope="col">Attributes key</th>
            <th scope="col">Attributes value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CredentialAttributesValues)
        {
        <tr>
            @if (i == 0)
            {
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.CreatedAt
                </td>
                <td>
                    @Model.State
                </td>
                i++;
            }
            else
            {
                <td></td>
                <td></td>
                <td></td>
            }
            <td>
                @item.Name
            </td>
            <td>
                @item.Value
            </td>
        </tr>
        }
    </tbody>
</table>
