@model Hyperledger.Aries.Features.IssueCredential.CredentialRecord;
@using (Html.BeginForm(FormMethod.Post))
{
    @foreach (var attr in Model.CredentialAttributesValues)
    {
        <div>
            <label for="@attr.Name" class="col-sm-2 control-label">@attr.Name</label>
            <input name="@attr.Name" type="text" value="@attr.Value" />
        </div>
    }
    <input type="submit" value="Edit" asp-route-id="@Model.Id" />
}