@using System.Linq;
@using Hyperledger.Aries.Features.IssueCredential;
@model CredentialsViewModel


@if (Model.Credentials.Any())
{
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">CredentialRecord Id</th>
                <th scope="col">Schema</th>
                <th scope="col">Date</th>
                <th scope="col">State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Credentials)
            {
                <tr>
                    <td>
                       <a asp-area="" asp-controller="Credentials" asp-action="Details" asp-route-id="@item.Id">@(item.Id)</a>
                    </td>
                    <td>
                        @item.SchemaId
                    </td>
                    <td>
                        @item.CreatedAtUtc.Value.ToLocalTime()
                    </td>
                    <td>
                        @if (item.State == CredentialState.Offered)
                        {
                            <a asp-area="" asp-controller="Credentials" asp-action="ProcessOffer" asp-route-id="@item.Id">@(item.State)</a>
                        }
                        @if (item.State == CredentialState.Requested)
                        {
                            <a asp-area="" asp-controller="Credentials" asp-action="ProcessRequest" asp-route-id="@item.Id">@(item.State)</a>
                        }
                        @if (item.State == CredentialState.Issued)
                        {
                            @item.State
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
