@model ProofsDetailViewModel
@{
    int i = 0;
}
<div>
    <table class="table-borderless" cellpadding="10">
        <thead>
            <tr>
                <th scope="col">Proof name</th>
                <th scope="col">Requested Attributes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProofRequest.RequestedAttributes)
            {
                <tr>
                    @if (i == 0)
                    {
                        <td>@Model.ProofRequest.Name</td>
                        i++;
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        @item.Value.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<h3>Proof Received</h3>
<div>
    <table class="table-borderless" cellpadding="10">
        <thead>
            <tr>
                <th scope="col">Attr key</th>
                <th scope="col">Attr value encoded</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PartialProof != null && Model.PartialProof.RequestedProof != null)
            {
                @foreach (var attr in @Model.PartialProof.RequestedProof.RevealedAttributes)
                {
                    <tr>
                        <td>
                            @attr.Key
                        </td>
                        <td>
                            @attr.Value.Encoded
                        </td>

                    </tr>
                }
            }
            <tr>
                @if(Model.ProofObject != null)
                {
                    @foreach(var item in Model.ProofObject)
                    {
                        <td>
                            @item.Key
                        </td>
                        <td>
                            @item.Value
                        </td>
                    }
                }


            </tr>
        </tbody>
    </table>
</div>

