@model ProofsDetailViewModel
@{
    int i = 0;
}
<div>
    <table class="table-borderless" cellpadding="10">
        <thead>
            <tr>
                <th scope="col">Proof name</th>
                <th scope="col">Requested Attributes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProofRequest.RequestedAttributes)
            {
                <tr>
                    @if (i == 0)
                    {
                        <td>@Model.ProofRequest.Name</td>
                        i++;
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        @item.Value.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<h3>Proof Send</h3>
<div>
    <table class="table-bordered" cellpadding="10">
        <thead>
            <tr>
                <th scope="col">Requested attribute name</th>
                <th scope="col">Attribut value encoded</th>
                <th scope="col">Attribut value raw</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PartialProof != null && Model.PartialProof.RequestedProof != null)
            {
                @foreach (var attr in @Model.PartialProof.RequestedProof.RevealedAttributes)
                {
                    <tr>
                        <td>
                            @attr.Key
                        </td>
                        <td>
                            @attr.Value.Encoded
                        </td>
                        <td>
                            @attr.Value.Raw
                        </td>
                    </tr>
                }
            }
            <tr>
                <th scope="col">Credential Definition Id</th>
                <th scope="col">Schema Id</th>
            </tr>
            <tr>
                @if (Model.PartialProof.Identifiers != null)
                {
                    @foreach (var item in Model.PartialProof.Identifiers)
                    {
                        <td>
                            @item.CredentialDefintionId
                        </td>
                        <td>
                            @item.SchemaId
                        </td>
                    }
                }


            </tr>
        </tbody>
    </table>
</div>

